@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700;800;900&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@400;500;600;700;800;900&family=Lexend+Deca:wght@400;500;600;700;800;900&family=Outfit:wght@500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");

body {
  background-color: #d5e1ef;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 320px;
  box-sizing: border-box;
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}
img {
  width: 100%;
  border-radius: 10px;
}
h1 {
  font-family: "Outfit";
  font-size: 18px;
  text-align: center;
  font-family: verdana;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #192841;
  margin-top: 24px;
}
p {
  font-family: "Outfit";
  font-size: 15px;
  text-align: center;
  color: grey;
  width: 256px;
  margin: 16px auto 24px;
}
